*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #06182a;
    --color-third: #4a5dc962;
    --color-secondary: #3b4550;
    --color-background: #0e1b29;
    --color-text: #ffffff;
    --color-backgroundbotton: #3b4550;
    --color-card: #1e293b;
    --color-primaryLight : #09f;
    --color-border: rgba(255, 255, 255, 0.1);
    --color-select:#242d3a;
    --color-backgroun-a:rgba(0, 153, 255, .3);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}


h1{
    font-size: 3rem;
    text-wrap:balance;
}


/* seccion header de la parte del nav */
header{
    background-color: var(--color-primary);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        svg{
            color: var(--color-primaryLight);
        }
    }

}

header nav{
    display: flex;
    justify-content: space-evenly;
    
    
}

header nav a{
    text-decoration: none;
    padding: .5rem;
    color: var(--color-text);
    
}

header div {
    display: flex;
    justify-content: space-between;
}

header div a{
    display: flex;
    margin-left: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

header nav > div > a:first-child{
    color: var(--color-primaryLight);
    background-color: var(--color-backgroun-a);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

header nav > div > a:first-child:hover{
    background-color: rgba(5, 91, 148, 0.3);
}

header nav > div > a:nth-child(2){
    background-color: var(--color-secondary);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
header nav > div > a:nth-child(2):hover{
    background-color: #252c33;
}


/* seccion de header de devJobs */
section header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section header h2{
        font-size: 3rem;
        text-wrap: balance;
}

main > section:first-of-type{
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

main > section:first-of-type img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 80%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 80%);
}

main > section:first-of-type h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section:first-of-type p{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

main > section:first-of-type form{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-background);
    padding: 0.75rem 1rem;
    border-radius: .5rem;
}

main > section:first-of-type form svg{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%);
    outline: none;
    color: var(--color-secondary);
}
main > section:first-of-type form input{
    width: min(700px, 80vw);
    height: 2.75rem;
    padding-left: 2.5rem;
    border: none;
    border-radius: .8rem;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 1rem;
}

main > section:first-of-type form button{
    font-weight: bolder;
    font-size: 0.9rem;
    text-align: center;
    width: 100px;
    color: var(--color-text);
    background-color: var(--color-primaryLight);
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
    border: none;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}

main > section:first-of-type form button:hover{
    background-color:rgb(15, 119, 189);
}



    /* Segundo section */

    main > section:last-of-type header{
        text-align: center;
        padding-top: 30px;
        padding-left: 30px;
        gap: 2rem;
        background-color: var(--color-background);
    }

    main > section:last-of-type header p{
        text-align: center;
    }

    /* sección de los articulos */

    main > section:last-of-type footer{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1.25rem;
        padding: 0 30px 40px;
        text-align: center;
    }
    main > section:last-of-type footer article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-card);
        padding: 50px;
        margin-top: 50px;
        width: min(50vh);
        border-radius: .5rem;
        gap:10px
    }

    article svg{
        color: var(--color-primaryLight);
        background: rgba(0, 153, 255, .3);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 10px;
    }

   body > footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    width: 100%s;
    border-top: 1px solid var(--color-border);

   }

@media (max-width: 768px) {
    main > section:first-of-type h1 {
         top: 18%; 
         font-size: 25px;
        
        }
    main > section:first-of-type p  { top: 30% }
    main > section:first-of-type form {
        top: 45%;
    }
    main > section:first-of-type form input{
        width: min(400px, 50vw);
    }
    main > section:first-of-type form button{
        padding: .1rem;
        width: min(50px);
        
    }
    }


    /* estilos de result search */

    #header-result-search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            svg{
                
                color:var(--color-primaryLight)
            }
        }
       
        .perfil-icon{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            a{
                background-color: var(--color-backgroun-a);
                text-decoration: none;
                color: #09f;
                padding: 0.5rem;
                font-weight: bolder;
            }
            img{
                border-radius: 100%;
                object-fit:cover;
            }
        }
    }
 

    #secionResultSearch{
        display: flex;
        min-height: 40vh;
        margin-bottom: -150px;
        
        h1{
            position: absolute;
            top: 10%;
            font-size: 40px;
            
            transform: translate(-50%, -50%);
        }
        
        p{
            position: absolute;
            top: 30%;
            font-size: 15px;
            transform: translate(-50%, -50%);
        }
        #formResultSearch{
            position: absolute;
            top: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 56%;
            
        
        #search-bar{
            position: relative;
            display: flex;
            align-items: center;
            width: 200%;
            max-width: 100%;
            
            
            svg{
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

            #busqueda{
            padding-left: 2.5rem; 
            width: 100%;
            background-color: #242d3a;
            font-weight: 600;
            }
       
        }
            .search-filters{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 0.5rem;
                width: 100%;
               
            
                select{
                    background-color: #242d3a;
                    color: var(--color-text);
                    padding: 0.8rem;
                    border-radius: 0.5rem;
                    font-weight: bolder;
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%239098a3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
                    background-repeat: no-repeat;
                    background-size: 14px;
                    appearance: none;
                    background-position: right 8px center;
                    padding-right: 1.75rem;

                    option{
                        
                        font-weight: bolder;
                    }
                }

                
            }
        }
    }

    #secionResultados{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding-bottom: 20px;
        align-items: center;
        margin-top: 12%;
        
        h2{
            margin: 20px;
            margin-left: 50px;
            
        }

        article{
            display: flex;
            max-width: 1000px;
            justify-content: space-between;
            border: 1px solid rgba(128, 128, 128, 0.404);
            padding: 1rem;
            margin-left: 50px;
            margin-right: 50px;
        }
        article:first-of-type{
            border-radius: 1rem 1rem 0rem 0rem;
        }
        article:last-of-type{
            border-radius: 0rem 0rem 1rem 1rem;
        }
        .button-search-job{
        background-color: var(--color-primaryLight);
        padding: .8rem;
        border-radius: .5rem;
        color: var(--color-text);
        font-weight: bolder;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in;
        
        &.is-applied{
            background-color: green;
        }

        &:disabled{
            opacity: .5;
            pointer-events: none;
        }
        }
        
        .button-search-job:hover{
            background-color: rgb(7, 96, 138);
        }
        


    }
      .pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 10px;
        a{
            display: flex;
            gap: 3rem;
            text-decoration: none;
            width:2.5rem ;
            height: 2.5rem;
            color: var(--color-secondary);
            font-weight: bolder;
            border-radius: 0.5rem;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }
        a:hover{
            background-color: #ffffff;
            transform: scale(0.90);
        }
        a.is-active{
            background-color: var(--color-primaryLight);
            pointer-events:none;
        }

    }

     

   
   @media (max-width: 1148px){
    #secionResultSearch h1{
        font-size: 30px;
            position: absolute;
            top: 10%;
            transform: translate(-50%, -50%);
    }
    #secionResultSearch p{
    
        position: absolute;
        font-size: 15px;
        top: 28%;
        font-size: 1rem;
        transform: translate(-50%, -50%);
        
    }
    #secionResultados{
        margin-top: 22%;
    }
   }

    @media (max-width: 790px) {
        

        #secionResultSearch h1{
            font-size: 25px;
            position: absolute;
            top: 8%;
            transform: translate(-50%, -50%);
        }
        #secionResultSearch p{
    
            position: absolute;
            font-size: 15px;
            top: 35%;
            font-size: 1rem;
            transform: translate(-50%, -50%);
            
        }
        #formResultSearch{
            margin-top: 70px;
            
        }
        #formResultSearch #search-bar{
            max-width: 100%;
            
        }
        #formResultSearch #search-bar svg{
            left: 10px;
        }
        #formResultSearch #search-bar #busqueda{
            padding-left: 2.25rem;
            
        }
        #secionResultados{
            margin-top: 40%;
        }
        

       
    }



   /* Medidas para ventanas */
    @media (max-width: 629px){
        #secionResultSearch h1{
            font-size: 30px;
            position: absolute;
            top: 10%;
            transform: translate(-50%,-50%);
        }
        #secionResultSearch p{
            position: absolute;
            font-size: 10px;
            top: 38%;
            font-size: 1rem;
            transform: translate(-50%, -50%);
        }
        #formResultSearch #busqueda::placeholder{
            visibility:hidden ;
        }
        #formResultSearch{
            margin-top: 60px;
        }
        #formResultSearch .search-filters{
            margin-top: 20px;
        }
        #secionResultados{
            margin-top: 300px;
        }
    }

    @media (max-width: 550px){


        #secionResultSearch{
            min-height: 50vh;
            margin-top: 40%;

            h1{
                position: absolute;
                top: -50%;
            }
            p{
                position: absolute;
                top: -20%;
            }
            
        }

        #formResultSearch{
            margin-top: -20%
        }
        #formResultSearch #busqueda::placeholder{
            visibility:hidden ;
        }

        #formResultSearch .search-filters{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            width: 100%;
        }
        #formResultSearch .search-filters select{
            width: 100%;
        }

        #secionResultados {
            display: flex;
            margin-top: 40%;
            
        }
        #secionResultados h2{
            margin: 10px;
            margin-left: 20px;
        }
        #secionResultados article{
            margin: 20px;
        }
    }

   


   